li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
}

#header nav {
    background-color: rgba(0, 0, 0, 0.653) !important;
}

#header li a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 500;
    color: #FFF;
}

#header li a:hover {
    color: rgb(17, 236, 39);
    border-radius: 5px;
}